*{
  box-sizing: border-box;
}

a{
  
  text-decoration: none !important;
  color: black !important;
}


a:hover{
  user-select: none !important;
  cursor:  pointer !important;
  color: orange !important;
}
h2,h3,h4{
  font-weight: normal !important;
}