.checkout{
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: white;
}
.checkout__left{
flex:0.8;
}
.checkout__pic{
width: 100%;
}
.checkout__basket{

}
.checkout__title{
    padding: 20px;
    border-bottom:1px solid rgba(0,0,0,0.2);
}
.checkout__right{
flex:0.2;
}