
.header__pic{
    object-fit: contain;
    width: 100px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.header__search{
display: flex;
align-items: center;
flex:1;
}
.header__input{

padding: 7px;
outline: none;
border:none;
font-size: 15px;
width: 100%;

}
.header__searchicon{
 
    background-color: #cd9042;
    padding: 3.1px 8px;
}
.header__nav{
    display: flex;
    align-item:center;
    justify-content: space-evenly;
    color:white;
    font-size: 10px;
    margin: 20px 0;
}
.header__option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    align-items: flex-start;
    color:white;
}
.header__optionlinetwo{
    font-weight: 800;
}
.header__basket{
    display: flex;
    padding: 10px;
    align-items: center;
    color:white;
}
.header__basketlinetwo{
    font-weight: 800;
    margin-left: 10px;
}