.payment{
display:flex;
flex-direction: column;
background-color: white;

width: 100%;
color:black;
font-weight: bold;

}
.payment__title{
    text-align: center;
    background-color:rgba(0,0,0,0.05);
    padding: 20px;
    
}
.payment__row{
display: flex;
padding: 20px;
align-items: flex-start;
border-bottom:1px solid rgba(0,0,0,0.2) ;
}
.payment__left{
flex:0.2;
}
.payment__right{
flex:0.7;

}
.payment__one{
margin-left: 50px;
}
.payment__cardtitle{
margin-bottom: 10px;
}
.subtotal__form1{
    padding: 30px;
    background-color: white;
    border:1px solid rgba(0,0,0,0.2);
    margin-top: 20px;
    width:500px;
    }
    .subtotal__lineone1{
        margin-bottom: 5px;
        font-size: 20px;
    }
    .subtotal__lineone1 span{
        font-weight: bold;
        }
        .subtotal__button1{
            cursor: pointer;
            
            background-color: #f0c14b;
            outline: none;
            border: 1px solid rgba(0, 0,0,0.2);
            padding: 7px 13px;
            font-weight: bold;
            border-radius: 5px;
            width: 100%;
        }