.product{
background-color: white;
padding: 20px ;  
box-sizing: border-box;
display: flex;
flex-direction: column; 
align-items: center;
width: 100%;
height: 580px;
transition: 0.3s;

}
.product:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 30px rgba(0, 0,0,0.3);
}
.product__title{
margin-bottom: 5px;

}
.product__des{
    margin-bottom: 5px;
    
    }
.product__price{
font-weight: bold;
margin-bottom: 1px;
}
.product__rating{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.product__pic{
width: 100%;
object-fit: contain;
align-self: center;
margin-bottom: 5px;
max-height: 200px;

}
.product__size{
margin:15px 5px;
   padding: 5px;
    align-content: center;
    width: 35px;
    height:35px;
    background-color: white;
    border:1px solid rgba(0,0,0,0.3);
    }

            .product__active{
                background-color:black;
                color:white;
                       }
.product_button{
cursor: pointer;
width: fit-content;
background-color: #f0c14b;
outline: none;
border: 1px solid rgba(0, 0,0,0.2);
padding: 7px 13px;
font-weight: bold;
border-radius: 5px;
margin-left: 10px;
}